h1{font-size: 60px;}
h1{font-family:fantasy}
h1{font-style:oblique}
h2{color:darkslategrey;}
h2{font-size: 40px ; }
h2,h3,h4,h5,h6{font-family:fantasy}
body{background-color:burlywood}
h3,h4,h5,h6{font-size: 150%}
p{font-family: monospace}
